<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
    <body>
    <h1>Персональные данные о человеке</h1>

        <a th:text = "${person.getName() + ' , ' + person.getAge()}">Value</a>
        <br/>
            <div th:if="${books.isEmpty()}">
                <p>Человек пока не взял ни одной книги</p>
                <hr/>
            </div>

            <div th:if="${!books.isEmpty()}">
                <hr/>
                <b>Книги:</b>
                <br/>
                <table th:each="book : ${books}">
                    <tr th:text="${book.book_name + ', ' + book.auhtor_name + ', ' + book.publishing_year}">book</tr>
                </table>
            </div>
        <hr/>
            <form th:method="GET" th:action="@{/people/{person_id}/edit(person_id=${person.getPerson_id()})}">
                <input type="submit" value="Редактировать"/>
            </form>

            <form th:method="DELETE" th:action="@{/people/{person_id}(person_id=${person.getPerson_id()})}">
                <input type="submit" value="Удалить"/>
            </form>
    </body>
</html>

